# ====================================================
# CuartoYa — Variables de entorno Web (React)
# ====================================================
VITE_API_URL=http://localhost:8000/api/v1
VITE_WS_URL=ws://localhost:8000/ws
VITE_CLOUDINARY_CLOUD_NAME=REEMPLAZAR
VITE_APP_NAME=CuartoYa
VITE_CULQI_PUBLIC_KEY=pk_test_REEMPLAZAR
